name: ci

on:
  push:
  pull_request:

jobs:
  build:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: DeterminateSystems/nix-installer-action@v11
      - name: Build package
        run: nix build -L
      - name: Release
        uses: softprops/action-gh-release@v2.0.5
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: result/share/emacs/site-lisp/magit-file-icons.el
          generate_release_notes: true

